@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100vh;
    font-family: Inter;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

a{
    background-color: hsl(0, 0%, 20%);
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    width: 100%;

}

a:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}


p{
   font-weight: 300;
   margin: 20px;
   width: 100%;
}

h4{
    color: hsl(75, 94%, 57%); 
    font-weight: 600;
    margin: 10px;
}

h2{
    font-weight: 700;
}

img{

    border-radius: 50%;
    width: 30%; 
    
}




@media screen and (max-width: 375px) {

    .card{

        width: 320px;
        padding: 10px 30px;
    }

    img{
        margin: 20px;
    }


}


@media screen and (min-width: 376px){

    .card{
        
        width: 400px;
        padding: 20px 40px;
    }
    img{
        margin: 30px;
    }
}

